ui = {{ vault_ui_enabled | lower }}
disable_mlock = {{ vault_disable_mlock | lower }}

api_addr = "{{ vault_api_addr }}"
cluster_addr = "{{ vault_cluster_addr }}"

listener "tcp" {
  address = "{{ vault_listener_address }}"
  cluster_address = "{{ vault_cluster_listener_address }}"
  tls_disable = 1
}

storage "raft" {
  path = "/vault/data"
  node_id = "{{ vault_raft_node_id }}"
}

telemetry {
  disable_hostname = true
}
